:root {
  --CHAOS-BLACK: #0f0f0f;
  --IMPERIAL-PRIMER: #232d3f;
  --SACRAMENTO-STATE-GREEN: #005b41;
  --VIRIDIS: #008170;
}

.right {
  display: flex;
  width: 50%;
}

.left {
  display: flex;
  width: 50%;
}
ul {
  display: flex;
  flex-direction: row !important;
}
