{% extends 'base.html' %} {% block title %}
<title>Users</title>

{% endblock %} {% block body %}
<div class="card">
  <div class="card-header bg-primary text-white">
    <div class="card-title">
      <h1>All User</h1>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      {% for item in iterable %} {% endfor %} Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Nostrum quasi asperiores provident eos, cum
      aspernatur, in quisquam quibusdam hic, consectetur quod nulla similique.
      Dicta cumque voluptatibus facilis. Enim, eveniet eius.
    </div>
  </div>
</div>

{% endblock %}
