{% extends 'base.html' %} {% block title %}
<title>Add Actord</title>

{% endblock %}{% block body %}
<form
  action=""
  method="post"
  class="form-control d-flex gap-3 flex-column mb-5"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="FirstName"
    placeholder="first name..."
    class="form-control"
  />
  <input
    type="text"
    name="LastName"
    placeholder="last name..."
    class="form-control"
  />
  <textarea
    name="description"
    id=""
    cols="30"
    rows="10"
    placeholder="description..."
    class="form-control"
  ></textarea>
  <p>Birthday</p>
  <input
    type="date"
    class="form-control"
    placeholder="birthdate"
    name="birthday"
  />
  <input
    type="text"
    name="birthplace"
    id=""
    placeholder="birthplace..."
    class="form-control"
  />
  <input type="file" class="form-control" name="file" />

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
